<a href="https://colab.research.google.com/github/derrickbotha/DataScience/blob/main/Attrition_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [555]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [556]:

##The Data
#Import the Attrition dataset from data.world

In [557]:
attrData = pd.read_csv('https://query.data.world/s/gtmphqnbq5nrv4zdcywgazfei2vbwc')

In [558]:
#See the shape of the dataset imported

In [559]:
display(attrData.shape)

(1470, 35)

In [560]:
#The atttrition data has 1450 Rows and 35 Columns.
#Below we have a look at the first five rows of the data.

In [561]:
display(attrData.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [562]:
#find the values in the column of the data to know the features in the dataset. These are the features that determine the attrition rate of
#employee.

In [563]:
display(attrData.keys())

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [564]:
#some simple data exploration methods that I undertake are looking for null values in any of the 35 columns
#This is achieved using the commands below
#attrData.isnull().sum()
#The .isnull() function looks for any null entries in the columns.
#The .sum() function will sum up the number of null rows in a colum and output the sum next to the column name

In [565]:

attrData.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [566]:
#As seen none of the columns had an null values since the sum of null values for each column is 0

In [567]:
#If the data has any null values and they were so little as to be of no consequence to the behavior of a model,
#the data can be dropped.
#The dropping would be done using the command,
#attrData.dropna(axis=0, inplace = 0)
#The axis value means the data being dropped is a missing row. axis = 1 would represent column.
#the inplace function means that the order of execution takes place in the order of the current arrangement and it remains the same after the execution.

In [568]:
#Since all the colums are in good condition its now time to analyze each column individually and see what values they hold and in what kind of 
#format the value is held in.

In [569]:
for x in attrData.keys():
  x_dict = attrData[x].value_counts()
  x_desc = attrData[x].describe()
  display(x, x_dict, x_desc)

'Age'

35    78
34    77
36    69
31    69
29    68
32    61
30    60
33    58
38    58
40    57
37    50
27    48
28    48
42    46
39    42
45    41
41    40
26    39
44    33
46    33
43    32
50    30
25    26
24    26
49    24
47    24
55    22
51    19
53    19
48    19
54    18
52    18
22    16
56    14
23    14
58    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: Age, dtype: int64

count    1470.000000
mean       36.923810
std         9.135373
min        18.000000
25%        30.000000
50%        36.000000
75%        43.000000
max        60.000000
Name: Age, dtype: float64

'Attrition'

No     1233
Yes     237
Name: Attrition, dtype: int64

count     1470
unique       2
top         No
freq      1233
Name: Attrition, dtype: object

'BusinessTravel'

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

count              1470
unique                3
top       Travel_Rarely
freq               1043
Name: BusinessTravel, dtype: object

'DailyRate'

691     6
408     5
530     5
1329    5
1082    5
       ..
650     1
279     1
316     1
314     1
628     1
Name: DailyRate, Length: 886, dtype: int64

count    1470.000000
mean      802.485714
std       403.509100
min       102.000000
25%       465.000000
50%       802.000000
75%      1157.000000
max      1499.000000
Name: DailyRate, dtype: float64

'Department'

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

count                       1470
unique                         3
top       Research & Development
freq                         961
Name: Department, dtype: object

'DistanceFromHome'

2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
23     27
29     27
15     26
18     26
26     25
25     25
20     25
28     23
19     22
14     21
12     20
17     20
22     19
13     19
21     18
27     12
Name: DistanceFromHome, dtype: int64

count    1470.000000
mean        9.192517
std         8.106864
min         1.000000
25%         2.000000
50%         7.000000
75%        14.000000
max        29.000000
Name: DistanceFromHome, dtype: float64

'Education'

3    572
4    398
2    282
1    170
5     48
Name: Education, dtype: int64

count    1470.000000
mean        2.912925
std         1.024165
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Education, dtype: float64

'EducationField'

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

count              1470
unique                6
top       Life Sciences
freq                606
Name: EducationField, dtype: object

'EmployeeCount'

1    1470
Name: EmployeeCount, dtype: int64

count    1470.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: EmployeeCount, dtype: float64

'EmployeeNumber'

1       1
1391    1
1389    1
1387    1
1383    1
       ..
659     1
657     1
656     1
655     1
2068    1
Name: EmployeeNumber, Length: 1470, dtype: int64

count    1470.000000
mean     1024.865306
std       602.024335
min         1.000000
25%       491.250000
50%      1020.500000
75%      1555.750000
max      2068.000000
Name: EmployeeNumber, dtype: float64

'EnvironmentSatisfaction'

3    453
4    446
2    287
1    284
Name: EnvironmentSatisfaction, dtype: int64

count    1470.000000
mean        2.721769
std         1.093082
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: EnvironmentSatisfaction, dtype: float64

'Gender'

Male      882
Female    588
Name: Gender, dtype: int64

count     1470
unique       2
top       Male
freq       882
Name: Gender, dtype: object

'HourlyRate'

66    29
98    28
42    28
48    28
84    28
      ..
31    15
53    14
68    14
38    13
34    12
Name: HourlyRate, Length: 71, dtype: int64

count    1470.000000
mean       65.891156
std        20.329428
min        30.000000
25%        48.000000
50%        66.000000
75%        83.750000
max       100.000000
Name: HourlyRate, dtype: float64

'JobInvolvement'

3    868
2    375
4    144
1     83
Name: JobInvolvement, dtype: int64

count    1470.000000
mean        2.729932
std         0.711561
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         4.000000
Name: JobInvolvement, dtype: float64

'JobLevel'

1    543
2    534
3    218
4    106
5     69
Name: JobLevel, dtype: int64

count    1470.000000
mean        2.063946
std         1.106940
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         5.000000
Name: JobLevel, dtype: float64

'JobRole'

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

count                1470
unique                  9
top       Sales Executive
freq                  326
Name: JobRole, dtype: object

'JobSatisfaction'

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

count    1470.000000
mean        2.728571
std         1.102846
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: JobSatisfaction, dtype: float64

'MaritalStatus'

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

count        1470
unique          3
top       Married
freq          673
Name: MaritalStatus, dtype: object

'MonthlyIncome'

2342     4
6142     3
2741     3
2559     3
2610     3
        ..
7104     1
2773     1
19513    1
3447     1
4404     1
Name: MonthlyIncome, Length: 1349, dtype: int64

count     1470.000000
mean      6502.931293
std       4707.956783
min       1009.000000
25%       2911.000000
50%       4919.000000
75%       8379.000000
max      19999.000000
Name: MonthlyIncome, dtype: float64

'MonthlyRate'

4223     3
9150     3
9558     2
12858    2
22074    2
        ..
14561    1
2671     1
5718     1
11757    1
10228    1
Name: MonthlyRate, Length: 1427, dtype: int64

count     1470.000000
mean     14313.103401
std       7117.786044
min       2094.000000
25%       8047.000000
50%      14235.500000
75%      20461.500000
max      26999.000000
Name: MonthlyRate, dtype: float64

'NumCompaniesWorked'

1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: NumCompaniesWorked, dtype: int64

count    1470.000000
mean        2.693197
std         2.498009
min         0.000000
25%         1.000000
50%         2.000000
75%         4.000000
max         9.000000
Name: NumCompaniesWorked, dtype: float64

'Over18'

Y    1470
Name: Over18, dtype: int64

count     1470
unique       1
top          Y
freq      1470
Name: Over18, dtype: object

'OverTime'

No     1054
Yes     416
Name: OverTime, dtype: int64

count     1470
unique       2
top         No
freq      1054
Name: OverTime, dtype: object

'PercentSalaryHike'

11    210
13    209
14    201
12    198
15    101
18     89
17     82
16     78
19     76
22     56
20     55
21     48
23     28
24     21
25     18
Name: PercentSalaryHike, dtype: int64

count    1470.000000
mean       15.209524
std         3.659938
min        11.000000
25%        12.000000
50%        14.000000
75%        18.000000
max        25.000000
Name: PercentSalaryHike, dtype: float64

'PerformanceRating'

3    1244
4     226
Name: PerformanceRating, dtype: int64

count    1470.000000
mean        3.153741
std         0.360824
min         3.000000
25%         3.000000
50%         3.000000
75%         3.000000
max         4.000000
Name: PerformanceRating, dtype: float64

'RelationshipSatisfaction'

3    459
4    432
2    303
1    276
Name: RelationshipSatisfaction, dtype: int64

count    1470.000000
mean        2.712245
std         1.081209
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: RelationshipSatisfaction, dtype: float64

'StandardHours'

80    1470
Name: StandardHours, dtype: int64

count    1470.0
mean       80.0
std         0.0
min        80.0
25%        80.0
50%        80.0
75%        80.0
max        80.0
Name: StandardHours, dtype: float64

'StockOptionLevel'

0    631
1    596
2    158
3     85
Name: StockOptionLevel, dtype: int64

count    1470.000000
mean        0.793878
std         0.852077
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: StockOptionLevel, dtype: float64

'TotalWorkingYears'

10    202
6     125
8     103
9      96
5      88
7      81
1      81
4      63
12     48
3      42
15     40
16     37
11     36
13     36
21     34
17     33
2      31
14     31
20     30
18     27
19     22
23     22
22     21
24     18
25     14
28     14
26     14
0      11
29     10
31      9
32      9
30      7
33      7
27      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: TotalWorkingYears, dtype: int64

count    1470.000000
mean       11.279592
std         7.780782
min         0.000000
25%         6.000000
50%        10.000000
75%        15.000000
max        40.000000
Name: TotalWorkingYears, dtype: float64

'TrainingTimesLastYear'

2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: TrainingTimesLastYear, dtype: int64

count    1470.000000
mean        2.799320
std         1.289271
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         6.000000
Name: TrainingTimesLastYear, dtype: float64

'WorkLifeBalance'

3    893
2    344
4    153
1     80
Name: WorkLifeBalance, dtype: int64

count    1470.000000
mean        2.761224
std         0.706476
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         4.000000
Name: WorkLifeBalance, dtype: float64

'YearsAtCompany'

5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
12     14
21     14
18     13
16     12
19     11
17      9
24      6
33      5
25      4
26      4
31      3
32      3
27      2
36      2
29      2
23      2
37      1
40      1
34      1
30      1
Name: YearsAtCompany, dtype: int64

count    1470.000000
mean        7.008163
std         6.126525
min         0.000000
25%         3.000000
50%         5.000000
75%         9.000000
max        40.000000
Name: YearsAtCompany, dtype: float64

'YearsInCurrentRole'

2     372
0     244
7     222
3     135
4     104
8      89
9      67
1      57
6      37
5      36
10     29
11     22
13     14
14     11
12     10
15      8
16      7
17      4
18      2
Name: YearsInCurrentRole, dtype: int64

count    1470.000000
mean        4.229252
std         3.623137
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        18.000000
Name: YearsInCurrentRole, dtype: float64

'YearsSinceLastPromotion'

0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: YearsSinceLastPromotion, dtype: int64

count    1470.000000
mean        2.187755
std         3.222430
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        15.000000
Name: YearsSinceLastPromotion, dtype: float64

'YearsWithCurrManager'

2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
15      5
14      5
16      2
Name: YearsWithCurrManager, dtype: int64

count    1470.000000
mean        4.123129
std         3.568136
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        17.000000
Name: YearsWithCurrManager, dtype: float64

In [570]:
#the data shows:
#1. Value_counts(): The variables in each column and their tally.
#2. describe(): Describe provides the generalized analytics of each columns which are the total count, mean, standard deviation, Min value, 25th,50th and 75th 
#percentiles and the Max values in each column.
#the dtype value describe the value of the data in the column.

In [571]:
#Fin values with the object data type

In [572]:
for x in attrData:
   obj = attrData[x].dtype
   if obj == 'O':
     display(x)
   else:
     None

'Attrition'

'BusinessTravel'

'Department'

'EducationField'

'Gender'

'JobRole'

'MaritalStatus'

'Over18'

'OverTime'

In [573]:


#The columns with string or object data contain categorical data that is hard for models to find patterns inside. 
#These datasets are converted to continous data using pandas inbuild function getdummies()

#the conversion will be done for the jobrole column

In [574]:
attrData['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

In [575]:
newJobRoles = {
    'Sales Executive': 9,
    'Research Scientist': 8,
    'Laboratory Technician': 7,
    'Manufacturing Director': 6,
    'Healthcare Representative': 5,
    'Manager': 4,
    'Sales Representative': 3,
    'Research Director': 2,
    'Human Resources': 1,
}

In [576]:
#define a function that takes the new job role aand fits it into the attrData as a new column with int data

def JobRole(x):
  #if string(X) in the original JobRole is present in the newJobRoles...
  if str(x) in newJobRoles.keys():

    #return the string(x) key value and its pair.
    return newJobRoles[str(x)]
  else: 
    None

#create a placeholder data_1 that will hold the new column that is being created by applying the JobRole funtion to the attrData['jobRole'] data column.
data_1 = attrData['JobRole'].apply(JobRole)

#Create a new column 'newJobRoles' in the dataset and append the data_1 data into it.
attrData['newJobRoles'] = data_1

attrData.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,newJobRoles
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,9
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,8
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,7

In [577]:
#when we run the object finder function again well find the newJobRoles column will have int values 

for x in attrData:
   obj = attrData[x].dtype
   if obj == 'O':
     display(x)
   else:
     None

'Attrition'

'BusinessTravel'

'Department'

'EducationField'

'Gender'

'JobRole'

'MaritalStatus'

'Over18'

'OverTime'

In [578]:
#for columns with two different values of string data, its simpler to convert the two pieces of data into 1 and 0 rather than using the getdummies() function
#this will ensure the number of columns does not increase and thus increase the complexity of the data.

In [579]:
#Create a function to see the columns with two varying pieces of information that are only object data types
for x in attrData:
  obj = attrData[x].dtype
  num = len(attrData[x].value_counts())
  if num == 2 and obj == 'O':
    display(x)
  else:
    None

'Attrition'

'Gender'

'OverTime'

In [580]:
#the columns with only two distinct values object data types need to be replaced with a one or zero for each of the values to
#turn the object categorical data into int categorical data.

In [581]:
#New Attrition Column

def Change(x):
  if x == 'Yes':
    return int(1)
  else:
    return int(0)

data_attr = attrData['Attrition'].apply(Change)
attrData['newAttrition'] = data_attr

attrData.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,newJobRoles,newAttrition
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,0,8,0,1,6,4,0,5,9,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,1,10,3,3,10,7,1,7,8,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,0,7,3,3,0,0,0,0,7,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,0,8,3,3,8,7,3,0,8,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,1,6,3,3,2,2,2,2,7,0

In [582]:
#New Overtime Column

def Change(x):
  if x == 'Yes':
    return int(1)
  else:
    return int(0)

data_attr = attrData['OverTime'].apply(Change)
attrData['newOverTime'] = data_attr

display(attrData['OverTime'].head(), attrData['newOverTime'].head())

0    Yes
1     No
2    Yes
3    Yes
4     No
Name: OverTime, dtype: object

0    1
1    0
2    1
3    1
4    0
Name: newOverTime, dtype: int64

In [583]:
#New Gender Column

def Change(x):
  if x == 'Male':
    return int(1)
  else:
    return int(0)

data_attr = attrData['Gender'].apply(Change)
attrData['newGender'] = data_attr

attrData.head()
display(attrData.shape)

(1470, 39)

In [584]:
#Compare the int againt the object values of Gender and newGender

display(attrData['Gender'].head(), attrData['newGender'].head())

0    Female
1      Male
2      Male
3    Female
4      Male
Name: Gender, dtype: object

0    0
1    1
2    1
3    0
4    1
Name: newGender, dtype: int64

In [585]:
attrData.shape

(1470, 39)

In [586]:
#Drop the older categorical values that have
attrData = attrData.drop(['Attrition', 'OverTime', 'Gender'], axis = 1)

attrData.shape

(1470, 36)

In [587]:
#Endcode the categorical data values that can be easily converted to numpy arrays for a model to analyze the data.

dummy_attrData = pd.get_dummies(attrData)
dummy_attrData.shape

(1470, 55)

In [588]:
dummy_attrData.head()
dummy_attrData.keys()

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'newJobRoles',
       'newAttrition', 'newOverTime', 'newGender', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'Over18_Y'],
      dtype='object')

In [589]:
#Check for any presence of object values 
for x in dummy_attrData:
   obj = dummy_attrData[x].dtype
   if obj == 'O':
     display(x)
   else:
     None

In [590]:

#Since it returned nothing, this means the data set is all numerical in values and can be easily converted to numpy arrays.

In [591]:
#Create target and feature tables.
#Target
#The target is the attrition record which is now represented by the value new_Attrition

y = dummy_attrData['newAttrition'].values


#Features to be analyzed for the model are the rest of the columns without the new_Attrition table
features = dummy_attrData.drop(['newAttrition'], axis = 1)

X = features.values

In [592]:
#Create the model using a number of ML Algorithms to find the one that best suits the data


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)

In [593]:
#call the models

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [594]:
from numpy.ma.core import sort
#Give the models a variable name to call them by

lr = LogisticRegression(C=0.1, random_state = 42, solver='liblinear')
dt = DecisionTreeClassifier()
rm = RandomForestClassifier()
gb = GaussianNB()

In [595]:
# Create a function to get the data through all of these models.

for a, b in zip([lr, dt, rm, gb], ['Logistic Regression', 'Decision Tree', 'Random Forest', 'Naive Bayes']):
  a.fit(X_train, y_train)
  prediction = a.predict(X_train)
  y_pred = a.predict(X_test)

  score1 = accuracy_score(y_train, prediction)
  score = accuracy_score(y_test, y_pred)

  msg1 = "[%s] Training Accuracy is: %f" %(b, score1)
  msg2 = "[%s] Test Data Accuracy is: %f" %(b, score)

  print(msg1)
  print(msg2)

[Logistic Regression] Training Accuracy is: 0.880102
[Logistic Regression] Test Data Accuracy is: 0.897959
[Decision Tree] Training Accuracy is: 1.000000
[Decision Tree] Test Data Accuracy is: 0.785714
[Random Forest] Training Accuracy is: 1.000000
[Random Forest] Test Data Accuracy is: 0.863946
[Naive Bayes] Training Accuracy is: 0.755952
[Naive Bayes] Test Data Accuracy is: 0.755102

In [596]:
#Given the Logistic regression provides the highest accuracy between all models and with the least bias and deviation
#the lr will be the one to create a model for the attrition application.

In [597]:
model = lr.fit(X_train, y_train)

#save the model into bytes for transference 

import pickle 

filename = 'finalizedModel.pickle'
pickle.dump(model, open(filename, 'wb'))